spring:
  application:
    name: discodeit

  boot:
    admin:
      client:
        url: ${SPRING_BOOT_ADMIN_CLIENT_RUL}

  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/discodeit
    username: discodeit_user
    password: discodeit1234
    hikari:
      connection-init-sql: SET SESSION hibernate.jdbc.lob.non_contextual_creation=true
  jpa:
    generate-ddl: false
    database: Postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    properties:
      open-in-view: false
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        default_batch_fetch_size: 100

logging:
  level:
    com.sprint.mission.discodeit: info
    org.hibernate.SQL: info
    org.hibernate.orm.jdbc.bind: info

