server:
  port: 8080

spring:
  application:
    name: discodeit

  boot:
    admin:
      client:
        instance:
          name: discodeit

  profiles:
    active: dev

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 30MB

  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: none

discodeit:
  storage:
    type: local
    local:
      root-path: .discodeit/storage

logging:
  level:
    com.sprint.mission.discodeit: info

# Spring Boot Actuator 설정 추가
management:
  endpoints:
    web:
      exposure:
        include: "*"

  info:
    env:
      enabled: true

# Spring Boot Actuator info 추가
info:
  app:
    name: Discodeit
    version: 1.7.0
    java:
      version: 17
    spring-boot-version: "3.5.9"

  config:
    datasource:
      url: "${spring.datasource.url}"
      driver-class-name: "${spring.datasource.driver-class-name}"
    jpa:
      ddl-auto: "${spring.jpa.hibernate.ddl-auto}"
    storage:
      type: "${discodeit.storage.type}"
      path: "${discodeit.storage.local.root-path}"
    multipart:
      max-file-size: "${spring.servlet.multipart.max-file-size}"
      max-request-size: "${spring.servlet.multipart.max-request-size}"