server:
  port: 8080

spring:
  application:
    name: discodeit

  profiles:
    active: dev

  servlet:
    multipart:
      maxFileSize: 10MB # 파일 하나의 최대 크기
      maxRequestSize: 30MB

  jpa:
    generate-ddl: false

discodeit:
  storage:
    type: local
    local:
      root-path: .discodeit/storage

logging:
  level:
    com.sprint.mission.discodeit: info
