spring:
  application:
    name: discodeit

  datasource:
    url: jdbc:h2:mem:discodeitdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      encoding: UTF-8

  aop:
    proxy-target-class: true

logging:
  level:
    com.sprint.mission.discodeit: debug
    org.springframework.web: debug
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

